
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
 

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


.feed {
  display: grid;
  grid-template-columns: 1fr minmax(400px, 700px) 1fr;
}
